### Danny Ma 8 week SQL course

Introduction
Danny seriously loves Japanese food so in the beginning of 2021, he decides to embark upon a risky venture and opens up a cute little restaurant that sells his 3 favourite foods: sushi, curry and ramen.

Danny’s Diner is in need of your assistance to help the restaurant stay afloat - the restaurant has captured some very basic data from their few months of operation but have no idea how to use their data to help them run the business.

Problem Statement
Danny wants to use the data to answer a few simple questions about his customers, especially about their visiting patterns, how much money they’ve spent and also which menu items are their favourite. Having this deeper connection with his customers will help him deliver a better and more personalised experience for his loyal customers.

He plans on using these insights to help him decide whether he should expand the existing customer loyalty program - additionally he needs help to generate some basic datasets so his team can easily inspect the data without needing to use SQL.

Danny has provided you with a sample of his overall customer data due to privacy issues - but he hopes that these examples are enough for you to write fully functioning SQL queries to help him answer his questions!

Danny has shared with you 3 key datasets for this case study:
<br /> - sales
<br /> - menu
<br /> - members
<br />You can inspect the entity relationship diagram and example data below.

![alt text](tableERD.png "ERD Diagram")

<u>Example Datasets</u>
<br /> All datasets exist within the dannys_diner database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.

<b>Table 1: sales </b>
<br />The sales table captures all customer_id level purchases with an corresponding order_date and product_id information for when and what menu items were ordered.

![alt text](sales.png "Sales Table")

<b>Table 2: menu</b><br />
The menu table maps the product_id to the actual product_name and price of each menu item.

![alt text](menu.png "Menu Table")

<b>Table 3: members</b> <br />
The final members table captures the join_date when a customer_id joined the beta version of the Danny’s Diner loyalty program.

![alt text](members.png "Members Table")

<b>Case Study Questions</b> <br />
Each of the following case study questions can be answered using a single SQL statement:

1. What is the total amount each customer spent at the restaurant?

SELECT customer_id, sum(price) as spent
FROM dannys_diner.sales s
left join dannys_diner.menu m
on s.product_id=m.product_id
group by customer_id
order by customer_id;

![alt text](q1.png "question 1")

2. How many days has each customer visited the restaurant?

select customer_id, count(*) as days_visited
from
(SELECT customer_id, order_date
FROM dannys_diner.sales 
group by customer_id, order_date) base_table
group by customer_id
order by customer_id

![alt text](q2.png "question 2")

3. What was the first item from the menu purchased by each customer?

select customer_id, product_name as first_item
from
(SELECT customer_id, product_name, row_number() over (partition by customer_id order by order_date) as ranking
FROM dannys_diner.sales s
left join dannys_diner.menu m 
on s.product_id = m.product_id 
group by customer_id, product_name, order_date) base_table
where ranking = 1

![alt text](q3.png "question 3")

4. What is the most purchased item on the menu and how many times was it purchased by all customers?

select product_name, times_ordered 
from
(select product_name, times_ordered, rank() over (order by times_ordered desc) as ranking
from
(SELECT product_name, count(*) as times_ordered
FROM dannys_diner.sales s
left join dannys_diner.menu m 
on s.product_id = m.product_id 
group by product_name) base_table
) basetable2
where ranking = 1

![alt text](q4.png "question 4")

5. Which item was the most popular for each customer?
<br /> customer B has tried all the items the same amt of times

select customer_id, product_name, times_ordered 
from
(select customer_id, product_name, times_ordered, row_number() over (partition by customer_id order by times_ordered desc) as ranking
from
(SELECT customer_id, product_name, count(*) as times_ordered
FROM dannys_diner.sales s
left join dannys_diner.menu m 
on s.product_id = m.product_id 
group by customer_id, product_name) base_table
) basetable2
where ranking = 1

![alt text](q5.png "question 5")

6. Which item was purchased first by the customer after they became a member?

7. Which item was purchased just before the customer became a member?

8. What is the total items and amount spent for each member before they became a member?

9. If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?

10. In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January?

<b>Join All The Things</b><br />
The following questions are related creating basic data tables that Danny and his team can use to quickly derive insights without needing to join the underlying tables using SQL.

Recreate the following table output using the available data:

![alt text](joined.png "Joined Table")

<b>Rank All The Things</b><br />
Danny also requires further information about the ranking of customer products, but he purposely does not need the ranking for non-member purchases so he expects null ranking values for the records when customers are not yet part of the loyalty program.

![alt text](ranking.png "Ranked Table")