<b>Introduction</b> <br />
Did you know that over 115 million kilograms of pizza is consumed daily worldwide??? (Well according to Wikipedia anyway…)

Danny was scrolling through his Instagram feed when something really caught his eye - “80s Retro Styling and Pizza Is The Future!”

Danny was sold on the idea, but he knew that pizza alone was not going to help him get seed funding to expand his new Pizza Empire - so he had one more genius idea to combine with it - he was going to Uberize it - and so Pizza Runner was launched!

Danny started by recruiting “runners” to deliver fresh pizza from Pizza Runner Headquarters (otherwise known as Danny’s house) and also maxed out his credit card to pay freelance developers to build a mobile app to accept orders from customers.

<b>Available Data</b> <br />
Because Danny had a few years of experience as a data scientist - he was very aware that data collection was going to be critical for his business’ growth.

He has prepared for us an entity relationship diagram of his database design but requires further assistance to clean his data and apply some basic calculations so he can better direct his runners and optimise Pizza Runner’s operations.

All datasets exist within the pizza_runner database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.

![alt text](erd2.png "ERD Diagram")

<h1>Case Study #2 - Pizza Runner</h1>

<h2 id="introduction">Introduction</h2>

<p>Did you know that over <strong>115 million kilograms</strong> of pizza is consumed daily worldwide??? (Well according to Wikipedia anyway…)</p>

<p>Danny was scrolling through his Instagram feed when something really caught his eye - “80s Retro Styling and Pizza Is The Future!”</p>

<p>Danny was sold on the idea, but he knew that pizza alone was not going to help him get seed funding to expand his new Pizza Empire - so he had one more genius idea to combine with it - he was going to <em>Uberize</em> it - and so Pizza Runner was launched!</p>

<p>Danny started by recruiting “runners” to deliver fresh pizza from Pizza Runner Headquarters (otherwise known as Danny’s house) and also maxed out his credit card to pay freelance developers to build a mobile app to accept orders from customers.</p>

<h2 id="available-data">Available Data</h2>

<p>Because Danny had a few years of experience as a data scientist - he was very aware that data collection was going to be critical for his business’ growth.</p>

<p>He has prepared for us an entity relationship diagram of his database design but requires further assistance to clean his data and apply some basic calculations so he can better direct his runners and optimise Pizza Runner’s operations.</p>

<p>All datasets exist within the <code class="language-plaintext highlighter-rouge">pizza_runner</code> database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.</p>

<h3 id="entity-relationship-diagram">Entity Relationship Diagram</h3>

<div class="dbdiagram-container">
  <iframe width="560" height="315" src="https://dbdiagram.io/embed/5f3e085ccf48a141ff558487"> </iframe>
</div>

<h3 id="table-1-runners">Table 1: runners</h3>

<p>The <code class="language-plaintext highlighter-rouge">runners</code> table shows the <code class="language-plaintext highlighter-rouge">registration_date</code> for each new runner</p>

<table>
  <thead>
    <tr>
      <th>runner_id</th>
      <th>registration_date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>2021-01-01</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2021-01-03</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2021-01-08</td>
    </tr>
    <tr>
      <td>4</td>
      <td>2021-01-15</td>
    </tr>
  </tbody>
</table>

<h3 id="table-2-customer_orders">Table 2: customer_orders</h3>

<p>Customer pizza orders are captured in the <code class="language-plaintext highlighter-rouge">customer_orders</code> table with 1 row for each individual pizza that is part of the order.</p>

<p>The <code class="language-plaintext highlighter-rouge">pizza_id</code> relates to the type of pizza which was ordered whilst the <code class="language-plaintext highlighter-rouge">exclusions</code> are the <code class="language-plaintext highlighter-rouge">ingredient_id</code> values which should be removed from the pizza and the <code class="language-plaintext highlighter-rouge">extras</code> are the <code class="language-plaintext highlighter-rouge">ingredient_id</code> values which need to be added to the pizza.</p>

<p>Note that customers can order multiple pizzas in a single order with varying <code class="language-plaintext highlighter-rouge">exclusions</code> and <code class="language-plaintext highlighter-rouge">extras</code> values even if the pizza is the same type!</p>

<p>The <code class="language-plaintext highlighter-rouge">exclusions</code> and <code class="language-plaintext highlighter-rouge">extras</code> columns will need to be cleaned up before using them in your queries.</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>order_id</th>
        <th>customer_id</th>
        <th>pizza_id</th>
        <th>exclusions</th>
        <th>extras</th>
        <th>order_time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>101</td>
        <td>1</td>
        <td> </td>
        <td> </td>
        <td>2021-01-01 18:05:02</td>
      </tr>
      <tr>
        <td>2</td>
        <td>101</td>
        <td>1</td>
        <td> </td>
        <td> </td>
        <td>2021-01-01 19:00:52</td>
      </tr>
      <tr>
        <td>3</td>
        <td>102</td>
        <td>1</td>
        <td> </td>
        <td> </td>
        <td>2021-01-02 23:51:23</td>
      </tr>
      <tr>
        <td>3</td>
        <td>102</td>
        <td>2</td>
        <td> </td>
        <td>NaN</td>
        <td>2021-01-02 23:51:23</td>
      </tr>
      <tr>
        <td>4</td>
        <td>103</td>
        <td>1</td>
        <td>4</td>
        <td> </td>
        <td>2021-01-04 13:23:46</td>
      </tr>
      <tr>
        <td>4</td>
        <td>103</td>
        <td>1</td>
        <td>4</td>
        <td> </td>
        <td>2021-01-04 13:23:46</td>
      </tr>
      <tr>
        <td>4</td>
        <td>103</td>
        <td>2</td>
        <td>4</td>
        <td> </td>
        <td>2021-01-04 13:23:46</td>
      </tr>
      <tr>
        <td>5</td>
        <td>104</td>
        <td>1</td>
        <td>null</td>
        <td>1</td>
        <td>2021-01-08 21:00:29</td>
      </tr>
      <tr>
        <td>6</td>
        <td>101</td>
        <td>2</td>
        <td>null</td>
        <td>null</td>
        <td>2021-01-08 21:03:13</td>
      </tr>
      <tr>
        <td>7</td>
        <td>105</td>
        <td>2</td>
        <td>null</td>
        <td>1</td>
        <td>2021-01-08 21:20:29</td>
      </tr>
      <tr>
        <td>8</td>
        <td>102</td>
        <td>1</td>
        <td>null</td>
        <td>null</td>
        <td>2021-01-09 23:54:33</td>
      </tr>
      <tr>
        <td>9</td>
        <td>103</td>
        <td>1</td>
        <td>4</td>
        <td>1, 5</td>
        <td>2021-01-10 11:22:59</td>
      </tr>
      <tr>
        <td>10</td>
        <td>104</td>
        <td>1</td>
        <td>null</td>
        <td>null</td>
        <td>2021-01-11 18:34:49</td>
      </tr>
      <tr>
        <td>10</td>
        <td>104</td>
        <td>1</td>
        <td>2, 6</td>
        <td>1, 4</td>
        <td>2021-01-11 18:34:49</td>
      </tr>
    </tbody>
  </table>

</div>

<h3 id="table-3-runner_orders">Table 3: runner_orders</h3>

<p>After each orders are received through the system - they are assigned to a runner - however not all orders are fully completed and can be cancelled by the restaurant or the customer.</p>

<p>The <code class="language-plaintext highlighter-rouge">pickup_time</code> is the timestamp at which the runner arrives at the Pizza Runner headquarters to pick up the freshly cooked pizzas. The <code class="language-plaintext highlighter-rouge">distance</code> and <code class="language-plaintext highlighter-rouge">duration</code> fields are related to how far and long the runner had to travel to deliver the order to the respective customer.</p>

<p>There are some known data issues with this table so be careful when using this in your queries - make sure to check the data types for each column in the schema SQL!</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>order_id</th>
        <th>runner_id</th>
        <th>pickup_time</th>
        <th>distance</th>
        <th>duration</th>
        <th>cancellation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>1</td>
        <td>2021-01-01 18:15:34</td>
        <td>20km</td>
        <td>32 minutes</td>
        <td> </td>
      </tr>
      <tr>
        <td>2</td>
        <td>1</td>
        <td>2021-01-01 19:10:54</td>
        <td>20km</td>
        <td>27 minutes</td>
        <td> </td>
      </tr>
      <tr>
        <td>3</td>
        <td>1</td>
        <td>2021-01-03 00:12:37</td>
        <td>13.4km</td>
        <td>20 mins</td>
        <td>NaN</td>
      </tr>
      <tr>
        <td>4</td>
        <td>2</td>
        <td>2021-01-04 13:53:03</td>
        <td>23.4</td>
        <td>40</td>
        <td>NaN</td>
      </tr>
      <tr>
        <td>5</td>
        <td>3</td>
        <td>2021-01-08 21:10:57</td>
        <td>10</td>
        <td>15</td>
        <td>NaN</td>
      </tr>
      <tr>
        <td>6</td>
        <td>3</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
        <td>Restaurant Cancellation</td>
      </tr>
      <tr>
        <td>7</td>
        <td>2</td>
        <td>2020-01-08 21:30:45</td>
        <td>25km</td>
        <td>25mins</td>
        <td>null</td>
      </tr>
      <tr>
        <td>8</td>
        <td>2</td>
        <td>2020-01-10 00:15:02</td>
        <td>23.4 km</td>
        <td>15 minute</td>
        <td>null</td>
      </tr>
      <tr>
        <td>9</td>
        <td>2</td>
        <td>null</td>
        <td>null</td>
        <td>null</td>
        <td>Customer Cancellation</td>
      </tr>
      <tr>
        <td>10</td>
        <td>1</td>
        <td>2020-01-11 18:50:20</td>
        <td>10km</td>
        <td>10minutes</td>
        <td>null</td>
      </tr>
    </tbody>
  </table>

</div>

<h3 id="table-4-pizza_names">Table 4: pizza_names</h3>

<p>At the moment - Pizza Runner only has 2 pizzas available the Meat Lovers or Vegetarian!</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>pizza_id</th>
        <th>pizza_name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Meat Lovers</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Vegetarian</td>
      </tr>
    </tbody>
  </table>

</div>

<h3 id="table-5-pizza_recipes">Table 5: pizza_recipes</h3>

<p>Each <code class="language-plaintext highlighter-rouge">pizza_id</code> has a standard set of <code class="language-plaintext highlighter-rouge">toppings</code> which are used as part of the pizza recipe.</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>pizza_id</th>
        <th>toppings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>1, 2, 3, 4, 5, 6, 8, 10</td>
      </tr>
      <tr>
        <td>2</td>
        <td>4, 6, 7, 9, 11, 12</td>
      </tr>
    </tbody>
  </table>

</div>

<h3 id="table-6-pizza_toppings">Table 6: pizza_toppings</h3>

<p>This table contains all of the <code class="language-plaintext highlighter-rouge">topping_name</code> values with their corresponding <code class="language-plaintext highlighter-rouge">topping_id</code> value</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>topping_id</th>
        <th>topping_name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Bacon</td>
      </tr>
      <tr>
        <td>2</td>
        <td>BBQ Sauce</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Beef</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Cheese</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Chicken</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Mushrooms</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Onions</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Pepperoni</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Peppers</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Salami</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Tomatoes</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Tomato Sauce</td>
      </tr>
    </tbody>
  </table>

</div>

<h2 id="case-study-questions">Case Study Questions</h2>

<p>This case study has <strong>LOTS</strong> of questions - they are broken up by area of focus including:</p>
<ul>
  <li>Pizza Metrics</li>
  <li>Runner and Customer Experience</li>
  <li>Ingredient Optimisation</li>
  <li>Pricing and Ratings</li>
  <li>Bonus DML Challenges (DML = Data Manipulation Language)</li>
</ul>

<p>Each of the following case study questions can be answered using a single SQL statement.</p>

<p>Again, there are many questions in this case study - please feel free to pick and choose which ones you’d like to try!</p>

<p>This will be my base query for everything here - it cleans up the pickup_time, distance, and duration fields and makes them much easier to work with. This makes the missing fields all default to null. It also makes changes the duration field from text to actual time values - where you can add tehm to the  pickup time as well.</p>
    
    (select r.order_id, runner_id, customer_id,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id)

<center><b><h1 />A. Pizza Metrics</b><br /></center>
1. How many pizzas were ordered?
<p> Here the table is at the item level. So I use count(*) to get every observation </p>

--- 
    
    select count(*) as pizzas
    from
    (select r.order_id, runner_id, customer_id,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id) base_table

| pizzas |
| ----- |
| 14    |


2. How many unique customer orders were made?
<p>customer_id,order_id makes up a unique order combination </p>

--- 
    
    select count(*) as orders
    from
    (select customer_id,order_id
    from
    (select r.order_id, runner_id, customer_id,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id) base_table
    group by customer_id, order_id) base2

| cust_orders |
| ----------- |
| 10          |

3. How many successful orders were delivered by each runner?
<p>runner_id,order_id makes up an order here</p>

--- 

    select runner_id, count(*) as deliveries
    from
    (select runner_id, order_id
    from
    (select r.order_id, runner_id, customer_id,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id) base_table
    where cancellation is null
    group by runner_id, order_id) base2
    group by runner_id
    order by runner_id

| runner_id | deliveries |
| --------- | ---------- |
| 1         | 4          |
| 2         | 3          |
| 3         | 1          |

4. How many of each type of pizza was delivered?

--- 

    select pizza_name, count(*) as delivered
    from
    (select r.order_id, runner_id, customer_id,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id) base_table
    where cancellation is null
    group by pizza_name

| pizza_name | delivered |
| ---------- | --------- |
| Meatlovers | 9         |
| Vegetarian | 3         |


5. How many Vegetarian and Meatlovers were ordered by each customer?
<p>Here there is no stipulation that they were delivered</p>

--- 

    select customer_id, pizza_name, count(*) as ordered
    from
    (select r.order_id, runner_id, customer_id,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id) base_table
    group by customer_id,pizza_name
    order by customer_id,pizza_name

| customer_id | pizza_name | delivered |
| ----------- | ---------- | --------- |
| 101         | Meatlovers | 2         |
| 101         | Vegetarian | 1         |
| 102         | Meatlovers | 2         |
| 102         | Vegetarian | 1         |
| 103         | Meatlovers | 3         |
| 103         | Vegetarian | 1         |
| 104         | Meatlovers | 3         |
| 105         | Vegetarian | 1         |

6. What was the maximum number of pizzas delivered in a single order?
<p>Here I see order 4, by customer 103, had 3 pizzas delivered.</p>

--- 

    select *
    from
    (select customer_id,order_id, count(*) as pizzas_ordered, rank() over (order by count(*) desc) 
    from
    (select r.order_id, runner_id, customer_id,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id) base_table
    where cancellation is null
    group by order_id,customer_id) base2
    where rank =1

| order_id | pizzas_ordered | rank |
| -------- | -------------- | ---- |
| 4        | 3              | 1    |

7. For each customer, how many delivered pizzas had at least 1 change and how many had no changes?
<p>Here I am making necessary changes to have the exclusions and extras fields usable as well - case when statement does that well.</p>

--- 

    select customer_id, sum(case when extras is not null OR exclusions is not null then 1 else 0 end) as pizza_changed,
    sum(case when extras is null and exclusions is null then 1 else 0 end) as pizza_unchanged
    from
    (select r.order_id, runner_id, customer_id,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id) base_table
    where cancellation is null
    group by customer_id


| customer_id | pizza_changed | pizza_unchanged |
| ----------- | ------------- | --------------- |
| 101         | 0             | 2               |
| 102         | 0             | 3               |
| 103         | 3             | 0               |
| 104         | 2             | 1               |
| 105         | 1             | 0               |

8. How many pizzas were delivered that had both exclusions and extras?
<p> Here I see one pizza order with both exclusions and extras</p>

--- 

    select sum(case when extras is not null and exclusions is not null then 1 else 0 end) as pizza_changed
    from
    (select r.order_id, runner_id, customer_id,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id) base_table
    where cancellation is null

| pizza_changed |
| ------------- |
| 1             |

9. What was the total volume of pizzas ordered for each hour of the day?
<p> I use the extract(x from y) construct here to get hours from a timestamp</p>

---

    select extract(hour from order_time) as hour,
    count(*) as pizzas_ordered
    from
    (select r.order_id, runner_id, customer_id,order_time, case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    order by customer_id) base_table
    group by extract(hour from order_time)
    order by extract(hour from order_time)
    
| hour | pizzas_ordered |
| ---- | -------------- |
| 11   | 1              |
| 13   | 3              |
| 18   | 3              |
| 19   | 1              |
| 21   | 3              |
| 23   | 3              |

10. What was the volume of orders for each day of the week?
<p> Here I need to get the day of week names - which is not the easiest in postgres :) </p>
---

    select day,
    count(*) as pizzas_ordered
    from
    (select r.order_id, runner_id, customer_id,order_time,to_char(order_time,'DAY') as day,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    ) base_table
    group by day

| day       | pizzas_ordered |
| --------- | -------------- |
| WEDNESDAY | 5              |
| THURSDAY  | 3              |
| FRIDAY    | 1              |
| SATURDAY  | 5              |

--- 

<center><b><h1 />B. Runner and Customer Experience</b><br /></center>

<br />
1. How many runners signed up for each 1 week period? (i.e. week starts 2021-01-01)
<p> Case when a-pooloza! </p>

---
    
    select case when (registration_date - '2021-01-01') < 7 then 'week 1'
			when (registration_date - '2021-01-01') < 14 then 'week 2'
            when (registration_date - '2021-01-01') < 21 then 'week 3'
            end as week,
            count(*) as runner_regs
    from pizza_runner.runners
    group by case when (registration_date - '2021-01-01') < 7 then 'week 1'
			when (registration_date - '2021-01-01') < 14 then 'week 2'
            when (registration_date - '2021-01-01') < 21 then 'week 3'
            end
    order by case when (registration_date - '2021-01-01') < 7 then 'week 1'
			when (registration_date - '2021-01-01') < 14 then 'week 2'
            when (registration_date - '2021-01-01') < 21 then 'week 3'
            end
    
| week   | runner_regs |
| ------ | ----------- |
| week 1 | 2           |
| week 2 | 1           |
| week 3 | 1           |


2. What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order?
<p> Here I need to subtract the timestamp of order_time from pickup time, then get that in minutes for all orders </p>

---

	select runner_id, round(cast(avg(time_to_pickup) as numeric),2) as avg_pickup_time
	from
	(select runner_id, order_id, (EXTRACT(EPOCH FROM (pickup_time - order_time))/60) time_to_pickup
    from
    (select r.order_id, runner_id,order_time,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
    ) orders order by runner_id) times
    group by runner_id
    
| runner_id | avg_pickup_time |
| --------- | --------------- |
| 1         | 15.68           |
| 2         | 23.72           |
| 3         | 10.47           |

3. Is there any relationship between the number of pizzas and how long the order takes to prepare?
<p> I can calc the avg pickup time by pizzas easily, but I run into what appears to be a limitation of postgres, or my knowledge thereof, when trying to get to relationship metrics. This code is long and kinda tedious, but basically you see that 83.58% of the time taken to prepare the pizzas is attributed to the number of pizzas made, everything else held constant. I want to get the slope of this line as well, but was unable to get postgres to calculate that for me. </p>

---

	select pizzas, round(avg(time_to_pickup),2)  avg_pickup,round(((sumab/sqrt(suma2*sumb2))*100),2) as pickup_corr
	from
	(select *, sum(ab) over() sumab, sum(a2) over() suma2, sum(b2) over() sumb2
	from
	(select *, pizzas - round(avg(pizzas) over(),2) a, time_to_pickup-round(avg(time_to_pickup) over(),2) b, 
	(pizzas - round(avg(pizzas) over(),2))*(time_to_pickup - round(avg(time_to_pickup) over(),2)) ab,
	round(((pizzas - round(avg(pizzas) over(),2))^2),2) a2 
	,round(((time_to_pickup - round(avg(time_to_pickup) over(),2))^2),2) b2 
	from
	(select r.order_id, runner_id,order_time,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time,
	round(cast(EXTRACT(EPOCH FROM (case when pickup_time = 'null' then null else pickup_time::timestamp  end - order_time))/60 as numeric),2) time_to_pickup, count(*) pizzas
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id
	group by r.order_id, runner_id,order_time, pickup_time
	having pickup_time != 'null' ) base1
    )base2
    ) base3
	group by pizzas, sumab/sqrt(suma2*sumb2)
	order by pizzas

| pizzas | avg_pickup | pickup_corr |
| ------ | ---------- | ----------- |
| 1      | 12.36      | 83.58       |
| 2      | 18.38      | 83.58       |
| 3      | 29.28      | 83.58       |

4. What was the average distance travelled for each customer?
<p> Here I get a different answer than I see some other people online with. That is because I make the assumption that an order with 2 items on it is delivered only once, as it has the same pickup_time in both lines. I would hope that's the case :) </p>

---

	select customer_id, round(cast(avg(dist) as numeric),2) as avg_dist
    from
    (select customer_id, order_id, round(cast(distance as numeric),2) as dist
    from
    (select r.order_id, runner_id, 	customer_id,order_time,to_char(order_time,'DAY') as day,case when pickup_time = 'null' then null else pickup_time::timestamp  end as pickup_time, cast(substring(distance,'[0-9.]+') as numeric) distance, case when left(duration,2) ='nu' then null else to_timestamp(left(duration,2),'MI:SS')::time end duration,
    case when cancellation = 'null' OR length(cancellation)=0 then null else cancellation end cancellation, case when exclusions = 'null' OR length(exclusions)=0 then null else exclusions end exclusions, case when extras = 'null' OR length(extras)=0 then null else extras end extras,pizza_name
    from pizza_runner.runner_orders r
    left join pizza_runner.customer_orders c
    on r.order_id= c.order_id
    left join pizza_runner.pizza_names p
    on c.pizza_id = p.pizza_id) base1
    where distance is not null
    group by customer_id, order_id, distance
    order by 1,2) base2
    group by customer_id

| customer_id | avg_dist |
| ----------- | -------- |
| 101         | 20.00    |
| 102         | 18.40    |
| 103         | 23.40    |
| 104         | 10.00    |
| 105         | 25.00    |

5. What was the difference between the longest and shortest delivery times for all orders?
<p> The longest time was 40 minutes and the shortest was 10 minutes </p>

---

    select right(cast(max(duration)-min(duration) as text),5) as difference
        from
        (select r.order_id, runner_id, 		customer_id,order_time,to_char(order_time,'DAY') as day,case when pickup_time = 	'null' then null else pickup_time::timestamp  end as pickup_time, 		cast(substring(distance,'[0-9.]+') as numeric) distance, case when 	left(duration,2) ='nu' then null else to_timestamp(left(duration,2), 		'MI:SS')::time end duration,
        case when cancellation = 'null' OR length(cancellation)=0 then null else 	cancellation end cancellation, case when exclusions = 'null' OR 		length(exclusions)=0 then null else exclusions end exclusions, case when extras 	= 'null' OR length(extras)=0 then null else extras end extras,pizza_name
        from pizza_runner.runner_orders r
        left join pizza_runner.customer_orders c
        on r.order_id= c.order_id
        left join pizza_runner.pizza_names p
        on c.pizza_id = p.pizza_id) base1
        where duration is not null;

| difference |
| ---------- |
| 30:00      |